<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdK4XDHUcZQQzlzuCOSR1Leid6-c2Kjn0</string>
	<key>GCM_SENDER_ID</key>
	<string>778503580207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mealTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>my-contact-app-25684</string>
	<key>STORAGE_BUCKET</key>
	<string>my-contact-app-25684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778503580207:ios:076f8d4c0695fd9ce3b4da</string>
</dict>
</plist>